body {
    font-family: 'montecarlo', Times, serif, sans-serif;
    text-align: center;
    margin: 250px;
    background-color: #ffffff;
    background-image: url('https://images.pexels.com/photos/6629583/pexels-photo-6629583.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    font-size: 25px;
     
        
    p {
        font-size: 15px; 
        color:#ffffff;
        position: absolute;
        top: 410px; 
        left: 710px;      
        font-family: 'comic sans ms', Times, serif, sans-serif;

    }
    p2 {
        font-size: 15px; 
        color:#ffffff;
        position: absolute;
        top: 680px; 
        left: 1210px;      
        font-family: 'comic sans ms', Times, serif, sans-serif;

    }
     
}

h1 {
    color: #ffffff;
    font-family: 'montecarlo', Times, serif, sans-serif;
    font-size: 100px;
    
}

#botao1 {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(254, 0, 0);
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 10px;  
    right: 1470px; 
}
#botao2 {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 10px;  
    right: 10px; 
}
#botao3 {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 665px;  
    right: 10px; 
}
#botao4 {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    background-color: #ebe3e3;
    color: rgb(248, 0, 0);
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 665px;  
    right: 1470px; 
}


button:hover {
    background-color: #ffffff;
}
  
    
  .heart-button {
    background-color: transparent;
    border: 0px solid #fdf6f6;
    color: #030000;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    position: absolute;
    top: 495px;  
    right: 745;
    
  }
  
  .heart-button:hover {

    transform: scale(1.1);}
    .marquee {
        white-space: nowrap; /* Impede a quebra de linha */
        overflow: hidden; /* Esconde o conteúdo que sai da tela */
        width: 100%;
    }
    
    .marquee p {
        display: inline-block;
        font-size: 10px;
        animation: rolar 16s linear infinite;
        color: #ffffff;
        font-family: 'comic sans ms', Times, serif, sans-serif;
        position: absolute;
        top: 10px; 
        left: 710px; 
    }   
    
    @keyframes rolar {
        from {
            transform: translateX(1000%);
        }
        to {
            transform: translateX(-1000%);
        }
    }
    @keyframes zoom {
        0% { transform: scale(0); opacity: 0; }
        100% { transform: scale(1); opacity: 1; }
    }
    
    .zoom-text {
        font-size: 24px;
        animation: zoom 2s ease-in-out;
        color: white;
        position:absolute;
        top: 650px; 
        left: 710px; 
    }
